<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <display-name>student_management</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddNewStudent</display-name>
    <servlet-name>AddNewStudent</servlet-name>
    <servlet-class>com.login.AddNewStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewStudent</servlet-name>
    <url-pattern>/AddNewStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>com.Student.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>jdbcDAO</display-name>
    <servlet-name>jdbcDAO</servlet-name>
    <servlet-class>com.jdbcDAO.jdbcDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jdbcDAO</servlet-name>
    <url-pattern>/jdbcDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDAO</display-name>
    <servlet-name>StudentDAO</servlet-name>
    <servlet-class>com.Stud_DAO.StudentDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDAO</servlet-name>
    <url-pattern>/StudentDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>jdbcDao</display-name>
    <servlet-name>jdbcDao</servlet-name>
    <servlet-class>jdbcDAO.jdbcDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jdbcDao</servlet-name>
    <url-pattern>/jdbcDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentjdbcDAO</display-name>
    <servlet-name>StudentjdbcDAO</servlet-name>
    <servlet-class>com.Student.StudentjdbcDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentjdbcDAO</servlet-name>
    <url-pattern>/StudentjdbcDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getStudent</display-name>
    <servlet-name>getStudent</servlet-name>
    <servlet-class>com.Student.getStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getStudent</servlet-name>
    <url-pattern>/getStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginStudent</display-name>
    <servlet-name>LoginStudent</servlet-name>
    <servlet-class>com.login.LoginStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginStudent</servlet-name>
    <url-pattern>/LoginStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.addstudservlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudent</display-name>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>com.delstud.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/DeleteStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentServlet</display-name>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>com.updatestud.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendanceServlet</display-name>
    <servlet-name>AttendanceServlet</servlet-name>
    <servlet-class>com.Attendance.AttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceServlet</servlet-name>
    <url-pattern>/AttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.logoutServlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>